@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-image: url('../../Images/image02.jpg'); color: white; background-repeat: no-repeat; background-size: cover; background-position: center;">
        <h1 style="color:olive; text-align:right; font-family:Jazz LET, fantasy;"><i>Gypsy Village</i></h1>
        <br />
        <p class="lead" style="text-align:right;color:olive;">Admin: Arefin | Email: arefin@gmail.com | Password: Arefin@123%</p>
        <p>
            <a class="btn btn-primary btn-lg" style="background-color: olive; text-align:center; float:right;" href='@Url.Action("Index","Roles")'>
            <span>Admin Login</span>
        </a>
        </p>
        
        <br /><br />
    </div>


<div class="row">
    <div class="col-md-4">
        <h2 style="color: olive;">About</h2>
        <p>
            We believe everyone deserves to have a website or online store.
            Innovation and simplicity makes us happy: our goal is to customer desire satisfaction barriers that
            can prevent business owners from making ourwebsite. We're excited to help you on your journey!

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: olive;">Contact Us</h2>
        <p>
            Email: <a>fardu07@gmail.com</a>
            <br />
            Talk To Us: 01670-634279
            <br />
            Address: Gypsy Village, C-Block, Ground Floor, Chakbazar,Ctg

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:olive;">Our Story</h2>
        <p>Today, we're proud to empower individuals and small business owners around the Country. Everyone deserves Online Shop, and we're excited to see what you Want.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>